# Ignore virtual environments
env/
venv/

# Ignore data/images folders
data/



# Ignore Python cache and system files
__pycache__/
*.pyc

# Ignore environment variable files
.env

# VSCode settings (optional)
.vscode/
